// button
$button-backcolor: #fcb72b;
$button-color: #fff;
$button_activ-backcolor: #fff;
$button_activ-color: #fcb72b;

// Header
$header--open-sitenav-backcolor: #333A44;
$header--open-sitenav__link-color: #fff;
$sitenav__link-color: #939caa;
$sitenav__link_hover-color: #000;
$sitenav__link_activ-color: #FCB72B;

// Main
// hero
$hero__heading-color: #fff;
$hero__desc-color: #fff;